.navbar {
  display: flex;
}

.navbar-left {
  flex: 3;
  margin-left: 50px;

  display: flex;
  align-items: center;
}

.navbar-left h2 {
  margin-left: 10px;
}

.navbar-right {
  flex: 7;

  display: flex;
  justify-content: flex-end;

  margin-left: 350px;
}

.time {
  flex: 2;
  display: flex;

  align-items: center;
}

.time p {
  margin-left: 10px;
}

.contact {
  flex: 2;
  display: flex;
  align-items: center;
}

.contact p {
  margin-left: 10px;
}

.button {
  flex: 1.5;
}

.button > button {
  height: 60px !important;
  width: 100%;
  background: rgb(137, 86, 255);
  background: linear-gradient(
    90deg,
    rgba(137, 86, 255, 1) 33%,
    rgba(137, 86, 255, 1) 33%,
    rgba(95, 152, 255, 1) 79%
  );

  color: white;
  font-weight: 700;
  font-size: medium;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
